@page "/users1"

<h3>User List</h3>

@code {
    
    public class User
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    
    List<User> users = new List<User>
    {
        new User { FirstName = "John", LastName = "Doe" },
        new User { FirstName = "Jane", LastName = "Smith" },
        
    };
}


@if (users != null && users.Any())
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.FirstName @user.LastName</li>
        }
    </ul>
}
else
{
    <p>No users found.</p>
}
