<ul class="nav">
    <li class="nav-item"><NavLink class="nav-link" href="/">Home</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/managebooks">Manage Books</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/manageusers">Manage Users</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/borrowbook">Borrow Book</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/returnbook">Return Book</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/listborrowedbooks">List Borrowed Books</NavLink></li>
</ul>
